<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="container mt-5">
        <div class="jumbotron jumbotron-fluid pt-3">
            <div class="container m-4 ">
                <h1 class="display-4"><%= data.heading %> </h1>
                <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %> 
                <% let name = month[data.createdAt.getMonth()]; %> 
                 
                <h5 class="text-muted"><%= data.author %> | <%= data.createdAt.getDate() %> <%= name %>  <%= data.createdAt.getUTCFullYear() %>  </h5>
               <div class=" mt-4 mr-4"><%- body %> </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>