<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="container mt-5 ">
        <a class="btn btn-primary mx-auto d-block col-md-2 col-sm-6" href="/create" role="button">Create</a>
    </div>

    <div class="container mt-5">
        
        <div class="row">


            <% if (blogarray.length == 0){ %> 
                <p>no blogs yet</p>
          <%  }else{ %> 

           <% blogarray.forEach(blog => { %>

            <div class="card text-left col-sm-11 col-md-5 my-1 mx-auto p-0">
                <div class="card-header">
                    <h2><%= blog.heading %> </h2>
                </div>
                <div class="card-body">
                    <h6 class="card-author"><%= blog.author %></h6>
                    <p class="card-body"><%= blog.body %></p>
                </div>
                <div class="card-footer text-muted">
                    <%= blog.timestamp %>
                    <div class="d-flex justify-content-end">
                        <a href="" class="mr-4 text-danger"><i class="far fa-trash-alt"></i></a>
                        <a href="" class="mr-2 text-warning"><i class="far fa-edit"></i></a>
                    </div>
                </div>
            </div>

           
          <% })}; %>

           

            
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>