<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>


<body>

     <%- include('./partials/nav.ejs') %>



    <div class="container mt-5 bg-white">

        <div class="row">

            
          <% if (blogarray.length == 0){ %> 
                <p>no blogs yet</p>
          <%  }else{ %> 

           <% blogarray.forEach(blog => { %>


            <div class="card col-sm-11 col-md-5 my-1 mx-auto bg-white">
                <div class="card-body bg-white">
                    <h5 class="card-title"><%= blog.heading %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= blog.author %></h6>
                    <p class="card-text"><%= blog.body.substring(0,30) %>.... </p>
                    <a href="./blog/<%= blog._id%>" class="card-link">Card link</a>
                </div>
            </div>


          <% })}; %>

            
        </div>
    </div>
    <!-- <script src="./assets/script.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>